<!DOCTYPE html>
<html>
<head>
<title th:text="#{view.index.title}">Welcome!</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link
	href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700'
	rel='stylesheet' type='text/css'></link>
<link rel="stylesheet"
	href="http://netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.min.css"></link>
<script type="text/javascript"
	src="http://oss.maxcdn.com/libs/modernizr/2.6.2/modernizr.min.js"></script>

<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/dashboard.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/dashboard.css}" />
<link href="../../../resources/css/docs.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/docs.css}" />
<link href="../../../resources/css/metro-bootstrap.min.css"
	rel="stylesheet" media="screen"
	th:href="@{/resources/css/metro-bootstrap.min.css}" />
<link href="../../../resources/css/metro-bootstrap.responsive.css"
	rel="stylesheet" media="screen"
	th:href="@{/resources/css/jquery.multilevelpushmenu.css}" />
<link href="../../../resources/css/jquery.multilevelpushmenu.css"
	rel="stylesheet" media="screen"
	th:href="@{/resources/css/bootstrap_integration.css}" />
<link href="../../../resources/css/bootstrap_integration.css"
	rel="stylesheet" media="screen"
	th:href="@{/resources/css/metro-bootstrap.responsive.css}" />
<link href="../../../resources/css/prettify.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/prettify.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" />
<script src="../../../resources/js/jquery.min.js"
	th:src="@{/resources/js/jquery.min.js}"></script>
<script src="../../../resources/js/jquery.widget.min.js"
	th:src="@{/resources/js/jquery.widget.min.js}"></script>
<script src="../../../resources/js/metro.min.js"
	th:src="@{/resources/js/metro.min.js}"></script>
<script src="../../../resources/js/jquery.dataTables.js"
	th:src="@{/resources/js/jquery.dataTables.js}"></script>
<script src="../../../resources/js/prettify.js"
	th:src="@{/resources/js/prettify.js}"></script>
<script src="../../../resources/js/jquery.mousewheel.js"
	th:src="@{/resources/js/jquery.mousewheel.js}"></script>
<script src="../../../resources/js/jquery.multilevelpushmenu.min.js"
	th:src="@{/resources/js/jquery.multilevelpushmenu.min.js}"></script>
<script src="../../../resources/js/bootstrap_integration.js"
	th:src="@{/resources/js/bootstrap_integration.js}"></script>
<!-- <script src="../../../resources/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}"></script> -->
<script src="../../../resources/js/docs.js"
	th:src="@{/resources/js/docs.js}"></script>




</head>
<body class="metro">
	<div th:replace="fragments/header :: header">&nbsp;</div>


	<DIV class="container">
		<nav class="breadcrumbs">
			<ul>
				<li><a href="/" th:href="@{/}"><i class="icon-home"></i></a></li>
				<li><a href="/" th:href="@{/}">Home</a></li>
				<li th:if="${itemSearchForm}" class="active"><a href="/additem"
					th:href="@{/additem}">Add / Edit Items</a></li>
				<li th:if="${signupForm}" class="active"><a href="/signup"
					th:href="@{/signup}">Add User</a></li>
			</ul>
		</nav>

		<h1>esiTest - Engineering Safety Integrity Test</h1>
		<h3>
			<th:block th:if="${session.currentUser}">
			Welcome
			<div th:object="${session.currentUser}" style="display: inline">
					<span th:text="*{wguFirstname}"></span>
				</div>
			</th:block>
		</h3>
		<div class="row">
			<div class="col-md-3">
				<nav class="sidebar lightblue">
					<ul>
						<li class="active"><a href="/" th:href="@{/}"><i
								class="icon-home"></i>Home</a></li>
						<li><A href="#" th:text="#{engineer.module}"
							class="dropdown-toggle">My esiTest</A>
							<ul class="dropdown-menu" data-role="dropdown">
								<li><a href="">Due esiTest</a></li>
								<li class="divider"></li>
								<li><a href="">My Items</a></li>
								<li class="divider"></li>
							</ul></li>
						<li sec:authorize="hasAnyRole('SAdmin','Admin','FM')"><A
							href="#" th:text="#{manager.module}" class="dropdown-toggle">Manager</A>
							<ul class="dropdown-menu" data-role="dropdown">
								<li><a href="">Due esiTest</a></li>
								<li class="divider"></li>
								<li><a href="">esiTest History</a></li>
								<li class="divider"></li>
								<li><a href="">GDU Data</a></li>
								<li class="divider"></li>
								<li><a href="">GDU Upload</a></li>
								<li class="divider"></li>
								<li><a href="">History</a></li>
								<li class="divider"></li>
								<li><a href="">Proxy Settings</a></li>
								<li class="divider"></li>
								<li><a href="">Transfers</a></li>
								<li class="divider"></li>
								<li><a href="">View WTMs</a></li>
								<li class="divider"></li>
							</ul></li>
						<li sec:authorize="hasAnyRole('SAdmin','Admin','SM')"><A
							href="#" th:text="#{snr.manager.module}" class="dropdown-toggle">Snr.
								Manager</A>
							<ul class="dropdown-menu" data-role="dropdown">
								<li><a href="">Due esiTest</a></li>
								<li class="divider"></li>
								<li><a href="">GDU Data</a></li>
								<li class="divider"></li>
								<li><a href="">Proxy Settings</a></li>
								<li class="divider"></li>
							</ul></li>
						<li sec:authorize="hasAnyRole('SAdmin','Admin','NA')"><A
							href="#" th:text="#{safety.manager.module}"
							class="dropdown-toggle">Safety Manager</A>
							<ul class="dropdown-menu" data-role="dropdown">
								<li><a href="">Find esiTest</a></li>
								<li class="divider"></li>
								<li><a href="">GDU Data</a></li>
								<li class="divider"></li>
								<li><a href="">History</a></li>
								<li class="divider"></li>
								<li><a href="">Mail Notifications</a></li>
								<li class="divider"></li>
								<li><a href="">Search Items</a></li>
								<li class="divider"></li>
							</ul></li>
						<li sec:authorize="hasAnyRole('SAdmin','Admin','LT')"><A
							href="#" th:text="#{mobile.tester.module}"
							class="dropdown-toggle">Mobile Tester</A>
							<ul class="dropdown-menu" data-role="dropdown">
								<li><a href="">Add / Edit Items</a></li>
								<li class="divider"></li>
								<li><a href="">Find esiTest</a></li>
								<li class="divider"></li>
								<li><a href="">GDU Upload</a></li>
								<li class="divider"></li>
								<li><a href="">History</a></li>
								<li class="divider"></li>
								<li><a href="">NT Activities</a></li>
								<li class="divider"></li>
								<li><a href="">Workload</a></li>
								<li class="divider"></li>
							</ul></li>
						<li sec:authorize="hasAnyRole('SAdmin','Admin')"><A href="#"
							th:text="#{scheduling.module}" class="dropdown-toggle">Scheduling</A>
							<ul class="dropdown-menu" data-role="dropdown" >
								<li><a href="">Absent Details</a></li>
								<li class="divider"></li>
								<li th:if="${itemSearchForm}" class="active"><a
									href="/additem" th:href="@{/additem}">Add / Edit Items</a></li>
								<li th:if="!${itemSearchForm}"><a href="/additem"
									th:href="@{/additem}">Add / Edit Items</a></li>
								<li class="divider"></li>
								<li><a href="">Appointment</a></li>
								<li class="divider"></li>
								<li><a href="">Assign Tester</a></li>
								<li class="divider"></li>
								<li><a href="">Find esiTest</a></li>
								<li class="divider"></li>
								<li><a href="">History</a></li>
								<li class="divider"></li>
								<li><a href="">Inject Work</a></li>
								<li class="divider"></li>
								<li><a href="">Mail Notifications</a></li>
								<li class="divider"></li>
								<li><a href="">Proxy Setting</a></li>
								<li class="divider"></li>
								<li><a href="">Single esiTest</a></li>
								<li class="divider"></li>
								<li><a href="">Transfer Items</a></li>
								<li class="divider"></li>
								<li><a href="" class="dropdown-toggle">User Master</a>

									<ul data-role="dropdown" class="dropdown-menu"
										style="display: block; border: 1px solid #EAEAEA">
										<li><a href="/signup" th:href="@{/signup}">Add User</a></li>
										<li class="divider"></li>
										<li><a href="#">Amend User</a></li>
										<li class="divider"></li>
										<li><a href="#">Any other EIN</a></li>

									</ul></li>
								<li class="divider"></li>
								<li><a href="">Workload</a></li>
								<li class="divider"></li>
							</ul></li>
						<li><A href="#" th:text="#{reports.module}">Reports</A></li>

					</ul>
				</nav>
			</div> 

			<div class="col-md-9">
				<th:block th:if="${signupForm}">
					<div th:replace="fragments/addUser :: addUser">&nbsp;</div>
				</th:block>

				<th:block th:if="${itemSearchForm}">
					<div th:replace="fragments/searchItem :: searchItem">&nbsp;</div>
					<div th:replace="fragments/searchResult :: searchResult">&nbsp;</div>
					<script>
						$(document).ready(function() {
							$('#dataTables-1').dataTable({
								"sPaginationType" : "full_numbers"
							});
						});
					</script>

				</th:block>
			</div>
		</div>
		<!-- </DIV> -->

	</DIV>


</body>
</html>