<!DOCTYPE html>
<div class="navigation-bar light" th:fragment="header">

	<div class="navigation-bar-content container">
		<a href="/" class="element">Supply Chain</a> <span
			class="element-divider"></span> <a class="element" href="#">Home</a>
		<span class="element-divider"></span> <a class="element" href="#">Feedback</a>

		<span class="element-divider"></span> <a
			th:if="${#authorization.expression('!isAuthenticated()')}"
			class="element place-right" href="/signin" th:href="@{/signin}">Sign
			in</a> <a th:if="${#authorization.expression('isAuthenticated()')}"
			class="element place-right" href="/logout" th:href="@{/logout}">Logout</a>


	</div>
</div>
